*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header{
    border: 1px solid;
    align-items: center;
    background-color: white;
    display: grid;
    grid-template-columns: 26% 74%;
    margin-top: 2px;
}
    


#logo{
    margin: -39px;
    height: 295px;
    margin-top: -83px;
    display: grid;

}

#icone{
    height: 70px;
}
.card{
    justify-content: space-around;
    grid-template-columns: repeat(5, 0%);
    display: grid;
    grid-template-rows: 1fr;
    align-items: inherit;
}


.card>h3{

}

.container{
    display: grid;
    grid-template-rows: 1fr 336px 1fr;
}

.propaganda{
    justify-content: center;
    width: 100%;
    grid-row: 1/1;
    grid-column: 3/1;
    display: grid;
    border: 1px solid black;
    height: 345px;
    align-items: center;
}
#frase-4cars{
    margin-left: 79px;
    display: grid;
}
#carros{
    width: 500px;
    display: grid;
}


.lado-esquerdo{
    grid-column: 1/2;
    display: grid;
    border: 1px solid black;
    width: 100%;
}
.lado-direito{
    width: 100%;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    grid-column: 2/2;
}

.quem-somos{
    grid-column: 1/3;
    display: grid;
    grid-row: 3/3;
    border: 3px solid black;
    height: 209px;

}

.footer{
    margin-top: -124px;
    height: 200px;
    display: grid;
    border: 1px solid black;
}

.icones{
    grid-template-rows: 1fr 1fr;
    display: grid;
}

.icones>p{
    align-items: flex-start;
    display: grid;
    justify-content: center;
}