.info{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#carros-economy, #carros-luxo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* margin-left: auto; */
}

.la{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 5px rgb(73, 71, 70);
    text-align: center;
}

.categ{
    display: grid;
    text-align: center;
    background-color: #909090;
    height: 50px;
}

.carros{
    height: 50%;
}