*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    grid-template-columns: 1fr 1fr;
    height: 697px;
    display: grid;
    background: #909090;
    grid-template-rows: 73px 400px 200px;
}

.container>h1{
    grid-column: 1/3;
    text-align: center;
    display: grid;
    margin-top: 8px;
}

.container>h2{
    display: inline;
}

.container>img{
    height: 311px;
}

#popular{
    justify-self: center;
    display: grid;
}

#luxo{
justify-self: center;
    display: grid;
}